/* board containing grid and grid labels */
.gameBoard {
   width: 100vw;
   max-width: 480px;
   height: 100vw;
   max-height: 480px;
   border: 1px solid black;
}

.colHeadings {
   width: 100vw;
   max-width: 480px;
   height: 5vw;
   max-height: 40px;
   border: 1px solid black;
   background-color: yellow;
}

.rowHeading {
   background-color: yellow;
}

.grid {
   width: 100vw;
   max-width: 480px;
   height: 90vw;
   max-height: 400px;
   border: 1px solid black;
   background-color: lightblue;
}

.cell {
   border: 1px solid black;
   height: 5vw;
   max-height: 40px;
}